.custom-scroll::-webkit-scrollbar {
    height: 8px; 
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #fed41d; 
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}